[Desktop Entry]
Name=TenSura Shuna Splash
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel
Type=Service

X-KDE-ParentApp=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Author=NekoCWD
X-KDE-PluginInfo-Email=nekodevelopper@gmail.com
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Name=com.github.nekocwd.tensura-shuna
X-KDE-PluginInfo-Website=https://github.com/NekoCWD/TenSura-Shuna-SplashScreen
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
