[SddmGreeterTheme]
Name=plasmaX
Description=plasmaX Theme
Author=adhe
Copyright=
License=
Type=sddm-theme
Version=0.1
Website=adhec[dot]github
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=adhemarks@gmail.com
Theme-Id=plasmaX
Theme-API=2.0
